button{
    background-color: rgb(128, 117, 202);
    transition: 0.3s;
    width: 90px;
    height: 50px;
    border: none;
    border-radius: 20px;
}

button:hover{
    cursor: pointer;
    background-color: rgb(199, 255, 199);
    transition: 0.3s;

}